html, body{ height: 100%; width: 100%; margin: 0; }
body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar{
  width: 5vw;
  float: left;
  background-color: #232323;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  /* display: block; */
  height: 100%;
  
  /* display: flex; */
  /* padding-top: 490px; */
  /* flex-direction: column ;
  align-items: center; */
  
}

.h2{
  color: black;
}

.gith{
  fill: white;
}

.icons{
  margin-top: 620px;
  margin-left: 18px;
  
}

.ic{
  display: block;
  margin-bottom: 15px;
  transition-duration: 0.05s;
}
.ic:hover{
  transform: scale(1.1);
  
}
.navbarbrand{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-top: 2.5px;


}
.navbarcust{
  /* font-size: 50; */
  background-color: #E0E0E0;
  height: 46px;
  width: 95%;
  float: right;
  padding-top: 2px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, .25);
}



/* .navbarcust .nav-link :hover{
  color:red;
} */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: black !important;
  /* text-decoration: underline blue; */
}

.navbar-light .nav-link{
  color:#4a4a4a !important;
  font-weight: 600;
  font-size: 18px;
}

.topinfo{
  /* position: relative; */
  float: right;
  width: 95%;
  margin-top: 30px;
  padding-left: 25px;
  /* margin-top: 15px; */
  /* top: 40px; */
  /* left: 74px; */
  height: 130px;
  /* background-color: rgba(91, 219, 223, 0.089); */
  font-family: 'Poppins', sans-serif;
}

.inputs{
  position: relative;
  top: 16px;
  /* margin-top: 15px;
  padding-left: 25px; */
  font-family: 'Poppins', sans-serif;
}

#disease{
  position: inline-flex;
}

#location{
  position: relative;
  left: 50px;
}

.diseaseDrop{
  width: 100px;
}

#submit{
  margin-left: 90px;
}

.graph{
  position: relative;
  width: 95%;
  float: right;
  /* top: 52px; */
  /* left: 76px; */
  background-color: rgba(255, 255, 255, 0.1);
  height: 530px;
}
/* .row{
  width: 1350px;
} */
.col{
  
  margin-right: 20px;
  height: 250px;
  border-radius: 4px;
  transition-duration: 0.05s;
}

.col:hover{
  border: 1px solid rgb(0, 0, 0);
  
}
.bottom{
  margin-top: 20px;
}
.container{
  padding: 0;
  margin-left: 80px;
}

/* graphs  */

.js-plotly-plot .plotly .main-svg{

  background-color: rgba(255, 255, 255, 0);
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map{
  display: inline-block;
}

.map-inside{
  position: relative;
  height: 511px;
  width: 650px;
}

.up-row{
  display: inline-block;
  position: absolute;
  margin-left: 30px;
  width: 650px;

}



.bottom-row{
  display: inline-block;
  position: absolute;
  margin-left: 30px;
  margin-top: 260px;
  width: 650px;
}
/* .ui.grid > .row{
  width: 100% !important;
  float: right !important;
  left: 15vh;
}*/

.Linegraph{
  border: 1pt groove rgb(45, 209, 173);
  border-radius: 4px;
  text-align: center;
  justify-content: center;
}

.Bargraph{
  border: 1pt groove rgb(45, 209, 173);
  border-radius: 4px;
  text-align: center;
}

.Scatterplot{
  border: 1pt groove rgb(45, 209, 173);
  border-radius: 4px;
  text-align: center;

}

.Piegraph{
  border: 1pt groove rgb(45, 209, 173);
  border-radius: 4px;
  text-align: center;

}

.ui.grid{
  row-gap: 4px;;
  height: 500px;
  margin-right: 150px;
} */
/* .gridcustom{
  width: 95% !important;
  float: left;
} */
.abtus{

  float: right;
  margin-right: 74px;
  margin-top: 10px;
  font-size: 16px;

}
.formdiv{
  float: left;
  margin-left: 50vh;
  width: 50vw;
  /* margin-top: 5%; */
}

.pagetitle{
  float: right;
  width: 95%;
  font-family:  'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-top: 15px;
  padding-left: 25px;
}

.pill{
  border-radius: 60px;
}

.btncustom{
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
}

/* marker */

.pin {
  
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: #5d97ce;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}


.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.pulse {
  /* background: #d6d4d4; */
  border-radius: 20%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0px 0px 0px -24px;
  transform: rotateX(55deg);
  z-index: -2;
}
.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #00cae9;
  animation-delay: 1.1s;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}