/* more css for AssessPage */

.resultDiv{
    border: 1px solid black;
    float: left;
    margin-left: 50vh;
    width: 50vw;
    height: 20vh;
    padding: 2%;
}

.divTitle{
    font-family:  'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.cheapMessage{
  font-weight: 100 ;
}