html,body{
  max-width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.sidebar{
  width: 5%;
  height: 100%;
  float: left;
  background-color: #232323;
  color: white;
  display: flex;
  padding-top: 490px;
  flex-direction: column ;
  align-items: center;
}

.navbaritem{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 2%;
}

.navbarcust{
  /* font-size: 50; */
  background-color: #E0E0E0;
  height: 40px;
  width: 95%;
  float: right;
  padding-top: 2px;
}